#blog .container{
    background-color: silver;
    font-size: 14px;
}
#blog .container .blog-header{
    margin: 15px 0;
}
#blog .post-record {
    border-bottom: 1px silver solid;
    padding: 15px;
}
#blog .post-record:hover {
	background: #F3F3F3;
	transition: 0.3s;
}
#blog .posts-list .post-record .post-header .post-date {
    text-align: right;
    font-size: 16px;
}
#blog .posts-list .post-record .post-content{
    padding: 10px 0;
}
#blog .posts-list .post-record .post-header .post-title{
	font-size: 24px;
}
#blog .posts-list .post-record .post-header .post-author{
	font-size: 14px;
}
#blog .posts-list .post-record .post-header .post-description{
	font-size: 12px;
}
#post-create{
    padding: 0 30px;
    background: blanchedalmond;
    margin-top: 20px;
    border-radius: 5px;
    min-width: 600px;
}
#post-create h1{
	margin: 30px 0;
}
.fright{
    float: right;
}