<div class="container">
	<div class="blog-header">
		<h1>Blog</h1>
		<div class="buttons row">
			<div class="col-xs-3">
				<button class="btn btn-primary" ng-click="go('/blog/new')">Add post</button>
			</div>
			<div class="col-xs-3 col-xs-offset-6">
				<button class="btn btn-primary fright" ng-click="resetPosts()">Delete All</button>
			</div>
		</div>
	</div>
	<div class="container-body">
		<div class="posts-list">
			<div ng-repeat="post in blogs" class="row post-record">
				<div class="row post-header">
					<div class=" post-description">
						<div class="col-xs-8 post-title">Title: <a href="#/blog/{{post.id}}">{{ post.title }}</a></div>
						<div class="col-xs-4 post-date"> Date: {{ post.date | date : shortDate : Z }} </div>
						<div class="col-xs-12 post-author"> Name: {{ post.author }} </div>
					</div>
				</div>
				<div class="post-content">
					<div class="content"> Content: {{ post.content}} </div>
					<div class="link-more"></div>
				</div>
				<span class="glyphicon glyphicon-trash fright" ng-click="deletePost(post.id)"></span>
			</div>
		</div>
	</div>
	</div>
</div>