<div id="post-create" class="container">
	<div class="row">
			<h1>{{ formTitle}}</h1>
		<div class="col-xs-3 col-xs-offset-9">
			<button class="btn btn-primary fright" ng-click="deletePost()" ng-show="showDeleteButton">Delete</button>
		</div>
	</div>
	<form class="form-horizontal" ng-submit='savePost()'>
		<div class="form-group" >
			<label for="post-title" class="col-xs-3"> Post Title: </label>
			<div class="col-xs-9">
			<input type="text" id="post-title" class="form-control" ng-model="postdata.title">
			</div>
		</div>
		<div class="form-group">
			<label for="post-author" class="col-xs-3"> Author: </label>
			<div class="col-xs-9">
				<input type="text" id="post-author" class="form-control" ng-model="postdata.author">
			</div>
		</div>
		<div class="form-group">
			<label for="post-date" class="col-xs-3"> Date: </label>
			<div class="col-xs-9">
				<input type="date" id="post-date" class="form-control" ng-model="postdata.date ">
			</div>
		</div>
		<div class="form-group">
			<label for="post-content" class="col-xs-3"> Content: </label>
			<div class="col-xs-9">
			<textarea id="post-content" name="post-content" cols="30" rows="10" class="form-control" ng-model="postdata.content"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-3 col-xs-offset-3">
				<input type='submit'class="btn btn-primary" value='Save'>
			</div>
			<div class="col-xs-3 col-xs-offset-3 fright">
				<div class="btn btn-primary fright" ng-click="go('/blog/')">Cancel</div>
			</div>
		</div>
	</form>	
</div>
